//
//  Production.xcconfig
//  Waqay
//
//  Created by Guillermo Sáenz on 5/17/20.
//  Copyright © 2020 Property Atomic Strong SAC. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include “Pods/Target Support Files/Pods-Waqay/Pods-Waqay.release.xcconfig”

// OneSignal
OS_API_KEY = adasdasd

// App Settings
PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_BUNDLE_IDENTIFIER = com.proatomicdev.Waqay

